@import 'variables';

@mixin polka-dots {
  background-image: radial-gradient($grey-line-bg 0.5px, $grey-bg 0.5px);
  //background-size: 10px 10px;
  background-size: 8px 8px;
}

@mixin diagonal-lines {
  background-color: rgba(#fff,0.1);
  opacity: 0.8;
  background-size: 15px 15px;
  background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 2px, rgba(#fff,0.1) 0, rgba(#fff,0.1) 50%);
}

@mixin circles {
background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;
}

@mixin triangles {
background-color: #e5e5f7;
opacity: 0.8;
background-image: linear-gradient(-45deg, #e5e5f7, #e5e5f7 50%, #444cf7 50%, #444cf7);
background-size: 10px 10px;
}


body {
  background: $grey-bg;
  @include polka-dots;
}


// Circles for Hero Text Contact
.hero-text-contact .circle-wrapper,
.hero-text-about .circle-wrapper {
  background: rgba(grey, 0.1);
  width: 50%;
  position: absolute;
  top: -200px;
  bottom: -50px;
  left: 0;
  z-index: -1;
}

.hero-text-about .circle-wrapper {
  left: auto;
  right: 0;
}

.circle {
  display: block;
  //width: 200px;
  //height: 200px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%); 
  //animation: circle-1-move 35s ease-in-out infinite;
  transition: width 1s, height 1s;
  
  &:hover {
    width: 22%;
    height: 22%;
  }
}

.hero-text-contact .circle-wrapper {
  .circle-1 {
    width: 200px;
    height: 200px;
    background: transparent;
    @include diagonal-lines;
    animation: circle-1-move 35s ease-in-out infinite;
  }
  .circle-2 {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 3px solid $accent;
    animation: circle-2-move 35s ease-in-out infinite;  
  }
}

.hero-text-about .circle-wrapper {
  .circle-1 {
    width: 20px;
    height: 20px;
    background: transparent;
    border: 3px solid $accent;
    animation: circle-1-move 35s ease-in-out infinite;
  }
  .circle-2 {
    width: 60px;
    height: 60px;
    background: transparent;
    border: 3px solid $accent;
    animation: circle-2-move 35s ease-in-out infinite;  
  }
  .circle-3 {
    width: 360px;
    height: 360px;
    background: url('img/portrait.png') no-repeat center center;
    background-size: 100% auto;
    left: 60%;
    top: 40%;
    animation: circle-3-move 35s ease-in-out infinite;  
  }
}



@keyframes circle-1-move {
  0% {
    left: 80%;
    top: 60%;
  }

  30% {
    left: 70%;
    top: 90%;
  }

  65% {
    left: 10%;
    top: 30%;
  }

  100% {
    left: 80%;
    top: 60%;
  }
}


@keyframes circle-2-move {
  0% {
    left: 40%;
    top: 20%;
  }

  30% {
    left: 20%;
    top: 30%;
  }

  65% {
    left: 65%;
    top: 80%;
  }

  100% {
    left: 40%;
    top: 20%;
  }
}

@keyframes circle-3-move {
  0% {
    left: 60%;
    top: 40%;
  }

  30% {
    left: 65%;
    top: 50%;
  }

  65% {
    left: 57%;
    top: 45%;
  }

  100% {
    left: 60%;
    top: 40%;
  }
}




// // circles
// .circles {
//   position: relative;
//   //background: #eee;
//   width: 100%;
//   height: 400px;
// }
// .circle {
//   position: absolute;
//   background: #ddd;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
// }
// .circle:nth-child(1){
//   width: 50px;
//   height: 50px;
//   top: 50px;
//   left: -50px;
// }
// .circle:nth-child(2){
//   width: 120px;
//   height: 120px;
//   top: 10px;
//   left: 50px;
// }
// .circle:nth-child(3){
//   width: 120px;
//   height: 120px;
//   top: 330px;
//   left: 200px;
// }
// .circle:nth-child(4){
//   width: 340px;
//   height: 340px;
//   top: 70px;
//   left: 0px;
//   background: #bbb;
// }