
/* Breakpoints */
$small: 768px;
$medium: 992px;
$large: 1200px;



// /* Colors */
$black: #191919;
$accent: #FF1C7B;
$white: #FFF;

$grey-bg: #FAFAFA;
$grey-dark: #666;
$grey-medium: #8A8A8A;
$grey-line: #CFCFCF;
$grey-line-bg: #DEDEDE;



