
/* Breakpoints */
$small: 768px;
$medium: 992px;
$large: 1200px;



// /* Colors */
$black: #151515; 
//$black: #222222;
$white: #FFF;
$grey-text: #666;
$grey-dots: rgba(0,0,0,0.25); //#BBBBBB
$grey-background: #F3F3F3;
$grey-light: #ebebeb;
//$primary-color: #FFF500; // yellow
$primary-color: #4EFFCA; // turquoise
//$primary-color: #80FF94; // light green



/* Moving Shapes */
$orange: #FFA826;
//$yellow: #7E3500;
$yellow: #407123;
$green: #8C2900;
$grey: #969696;
$red: #9E0923;
$blue: #5AADEC;


/* Font */

$font: 'Inter', sans-serif;

$regular: 400;
$medium: 500;
$bold: 700;