
/* Breakpoints */
$small: 768px;
$medium: 992px;
$large: 1200px;



// /* Colors */
$black: #151515; 
//$black: #222222;
$white: #FFF;
$pink: #EE1D75;
//$grey-text: #666;
//$grey-dots: rgba(0,0,0,0.25); //#BBBBBB
//$grey-background: #F3F3F3; old color
//$grey-background: #F8F9FA;
//$grey-light: #888;
//$primary-color: #FFF500; // yellow
//$primary-color: #4EFFCA; // turquoise
//$primary-color: #80FF94; // light green

/* Colours */
// $orange: #E55733;
// $yellow: #F5BD33;
// $light-blue: #336BB7;
// $dark-blue: #2F2965;



/* Font */

//$font: 'Inter', sans-serif;
$archivo: 'Archivo', sans-serif;
$archivo-black: 'Archivo Black', sans-serif;

$regular: 400;
$bold: 700;


// $regular: 400;
// $medium: 500;
// $semi-bold: 600;
// $bold: 700;